@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Popins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.App{
    text-align: center;
}


h1{
    color: #fff;
    margin-bottom: 8px;
    font-size: 28px;
}


.TodoWrapper{
    background:#1A1A40;
    margin-top: 80px;
    padding: 32px;
    border-radius: 5px;
}

.TodoForm{
    width: 100%;
}


.todo-input{
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 8px 16px;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 300px;
    color: #fff;
}


.todo-input::placeholder{
    color: #ffffff4d;
}


.todo-btn{
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 8.8px;
    cursor: pointer;
}


.Todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
}


.fa-trash{
    margin-left: 12px;
}


.completed{
    color: #c5aeff;
    text-decoration: line-through;
}

